.navbar-brand::before {
  background: url(img/logo-bullbitcoin-hd.png);
  background-size: 100px;
  background-repeat: no-repeat;
  width: 100px;
}

.footer_container_content {
  width: auto;
}
.footer_container_content_row {
  width: 475px;
}

.footer-logo::before {
  width: 220px;
  height: 140px;
  background-image: url(img/logo-bullbitcoin-hd-and-text.png);
  background-repeat: no-repeat;
  background-size: 100%;
  content: ' ';
  display: block;
}
.footer-logo {
  margin-right: 0px;
}
.footer-links {
  margin-top: 5px;
}
.theme-light .footer-logo::before {
  background-image: url(img/logo-bullbitcoin-hd-and-text.png);
}

@media only screen and (max-width: 1000px) {
  .footer-logo::before {
    width: 200px;
    height: 83px;
  }
}

@media only screen and (max-width: 500px) {
  .footer-logo::before {
    margin-top: 30px;
  }
}

.footer_container_content_row_social-media_link[href^="https://twitter.com/"] img {
  margin-right: 5px;
}
